Repository AlexWayfer/config_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

.cirrus.yaml:

bundle_cache: &bundle_cache
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
      - echo $CIRRUS_OS
      - ruby -v
      - cat Gemfile
      - cat *.gemspec
  install_script:
    - gem install bundler
    - bundle update

env:
  ## To suppress flood of warnings:
  ## https://github.com/cirruslabs/cirrus-ci-docs/issues/814
  ## https://github.com/rubygems/rubygems/issues/4466#issuecomment-818688569
  ## Global for:
  ## 1. different tasks (rubocop, test, etc.);
  ## 2. avoiding overriding `env` in specific cases like macOS.
  TMPDIR: $CIRRUS_WORKING_DIR

remark_task:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
      - echo $CIRRUS_OS
      - node -v
      - cat package.json
  install_script: npm install
  lint_script: npm run remark
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'package.json', '.remarkrc.yaml', '**.md'
    )

bundle-audit_task:
  container:
    image: ruby
  <<: *bundle_cache
  bundle-audit_script: bundle audit check --update
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', '*.gemspec'
    )

rubocop_task:
  container:
    image: ruby:latest
  <<: *bundle_cache
  lint_script: bundle exec rubocop
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rubocop.yml', '*.gemspec',
      '**.rb', '**.ru'
    )

rspec_task:
  depends_on:
    - remark
    - bundle-audit
    - rubocop
  container:
    matrix:
      image: ruby:2.5
      image: ruby:2.6
      image: ruby:2.7
      image: ruby:3.0
  <<: *bundle_cache
  environment:
    CODECOV_TOKEN: ENCRYPTED[68f715c7d40f47839b823bfa33256ebab212643d8d2d684cb0bb3caa4ca957162fe5daf470885f9b1d2916b5d1d90770]
  test_script: bundle exec rspec
  only_if: ($CIRRUS_BRANCH == 'master') ||
    changesInclude(
      '.cirrus.yaml', '.gitignore', 'Gemfile', 'Rakefile', '.rspec', '*.gemspec', 'lib/**',
      'spec/**'
    )

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Drop Ruby 3.0 and 3.1 support
  .cirrus.yaml
  .rubocop.yml
  config_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Add `.ruby-version` file to `.gitignore`
  .gitignore
Due: remark, bundle-audit, rubocop, rspec

Replace `Rakefile` with `.toys.rb` in CI config
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update RuboCop and its plugins
  Gemfile
Due: bundle-audit, rubocop, rspec

Update `gem_toys` and `toys` dependencies
  Gemfile
  config_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update `example_file` runtime dependency
  config_toys.gemspec
Due: bundle-audit, rubocop, rspec

Remove `bundler` as development dependency
  Gemfile
Due: bundle-audit, rubocop, rspec

Add Ruby 4.0 support
  .cirrus.yaml
  config_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Update version to 1.0.0
  CHANGELOG.md
  lib/config_toys/version.rb
Due: remark, rubocop, rspec

Switch from Cirrus CI to GitHub Actions
  .cirrus.yaml
  .github/workflows/ci.yml
  README.md
Due: remark, bundle-audit, rubocop, rspec

Remove Code Climate badge from README
  README.md
Due: remark

Add link to Depfu badge in README
  README.md
Due: remark

Lock `simplecov` on minor version
  Gemfile
Due: bundle-audit, rubocop, rspec

Update `toys-core` runtime dependency
  config_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update version to 1.1.0
  CHANGELOG.md
  lib/config_toys/version.rb
Due: remark, rubocop, rspec
