Repository AlexWayfer/config_toys: changes, and which Cirrus tasks are due for each by the changed paths.
All: remark, bundle-audit, rubocop, rspec

remark:
  container:
    image: node
  node_modules_cache:
    folder: node_modules
    fingerprint_script:
    - echo $CIRRUS_OS
    - node -v
    - cat package.json
  install_script: npm install
  lint_script: npm run remark

bundle-audit:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby
  bundle-audit_script: bundle audit check --update

rubocop:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  container:
    image: ruby:latest
  lint_script: bundle exec rubocop

rspec:
  bundle_cache:
    folder: /usr/local/bundle
    fingerprint_script:
    - echo $CIRRUS_OS
    - ruby -v
    - cat Gemfile
    - cat *.gemspec
  install_script:
  - gem install bundler
  - bundle update
  depends_on:
  - remark
  - bundle-audit
  - rubocop
  container:
    matrix:
      image: ruby:3.0
  environment:
  ...

Drop Ruby 2.5 support
  .cirrus.yaml
  .rubocop.yml
  config_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Add Ruby 3.1 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Avoid Ruby 4 in gem specs
  config_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update version to 0.5.0
  CHANGELOG.md
  lib/config_toys/version.rb
Due: remark, rubocop, rspec

Merge inherited `Include` and `Exclude` in RuboCop config
  .rubocop.yml
Due: rubocop

Allow `tool` and `on_expand` block methods for RuboCop
  .rubocop.yml
Due: rubocop

Add `initialize` (`init`) toy
  config_toys.gemspec
  lib/config_toys/template.rb
Due: bundle-audit, rubocop, rspec

Remove dependencies of CI tasks because of different `only_if`
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Replace `codecov` Ruby uploader with shell one
  .cirrus.yaml
  config_toys.gemspec
  spec/spec_helper.rb
Due: remark, bundle-audit, rubocop, rspec

Rename `master` git branch to `main`
  .cirrus.yaml
  README.md
Due: remark, bundle-audit, rubocop, rspec

Update License badge
  README.md
Due: remark

Update version to 0.6.0
  CHANGELOG.md
  lib/config_toys/version.rb
Due: remark, rubocop, rspec

Update `toys-core`
  config_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update version to 0.7.0
  CHANGELOG.md
  lib/config_toys/version.rb
Due: remark, rubocop, rspec

Add Ruby 3.2 to CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Drop Ruby 2.6 support
  .cirrus.yaml
  .rubocop.yml
  config_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Move development dependencies from gemspec into Gemfile
  Gemfile
  config_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update all toys dependencies
  Gemfile
  config_toys.gemspec
Due: bundle-audit, rubocop, rspec

Update version to 0.8.0
  CHANGELOG.md
  lib/config_toys/version.rb
Due: remark, rubocop, rspec

Update `example_file` dependency
  config_toys.gemspec
Due: bundle-audit, rubocop, rspec

Drop Ruby 2.7 support
  .cirrus.yaml
  .rubocop.yml
  config_toys.gemspec
Due: remark, bundle-audit, rubocop, rspec

Add Ruby 3.3 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Update version to 0.9.0
  CHANGELOG.md
  lib/config_toys/version.rb
Due: remark, rubocop, rspec

Add Ruby 3.4 for CI
  .cirrus.yaml
Due: remark, bundle-audit, rubocop, rspec

Configure Renovate
  renovate.json
Due: none

Update runtime dependency `toys-core`
  config_toys.gemspec
Due: bundle-audit, rubocop, rspec

Resolve RuboCop warning about `plugins:` instead of `require:`
  .rubocop.yml
Due: rubocop

Resolve new RuboCop offenses about `spec.add_runtime_dependency`
  config_toys.gemspec
Due: bundle-audit, rubocop, rspec

Path conditions:
  remark: any of: .cirrus.yaml, .gitignore, package.json, .remarkrc.yaml, **.md
  bundle-audit: any of: .cirrus.yaml, .gitignore, Gemfile, *.gemspec
  rubocop: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rubocop.yml, *.gemspec, **.rb, **.ru
  rspec: any of: .cirrus.yaml, .gitignore, Gemfile, Rakefile, .rspec, *.gemspec, lib/**, spec/**
